server:
  port: 8083
spring:
  application:
    name: ai-service
  mongodb:
    uri: mongodb+srv://atif276ali_db_user:az2YXYCoAEQlXnRa@cluster0.uzh9sxl.mongodb.net/pulse-ai


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/